/*MI CODIGO*/

#titulo{
    font-size: 0.01em;
  }
  
  
  
  #logo{
    width: 18rem;
    height: auto;
    margin: 0 auto;
  }
  
  #logoArticulo{
    width: 9rem;
    height: auto;
  }
  
  #logo2{
    width: 5rem;
    height: auto;
    margin: 0 3rem 0 0;
  }
  
  
  #navegacion{
    border-top: .5rem solid #fe0000;
  }

  .navega{
    color: #ffffff;     
  }

  .navega:hover{
    color: #fe0000;       
  } 
  

  #fila1, #fila2{
    margin-top: 1.5em;
  }
  
  #fila4{
    background-color: #ffffff;
    margin-top: 1.5rem;
  }
  
  #fila3{
    width: 100%;
    height: auto;
  }
  
  
  
  h4{
    margin-top: 1rem;
  }
  
  h2{
    margin-top: 3rem;
  }
  
  footer{
    margin: 6rem auto;
  }
  form{
    margin: 2.5rem;
  }
  
  img{
    width: 100%;
    height: auto;
    margin-top: 3rem;
  }
  
  audio, iframe{
    width: 100%;
  }
  
  #popular{
    padding: 0 0 3rem 0;
  }
  
  #contacto{
    margin: 1.5rem 0;
  }
  
    #contacto iframe{
      margin-top: 1rem;
    }
  
  #nosotros{
    margin-right: 1rem;
  }
  
  /* section article{
    margin: 0 0 1rem 1rem;
  } */
  
  p{
    text-align: justify;
  }
  
  
  #sociales ul li{
    margin-top: 1em;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url("../img/redes.png");
  }
  
    #sociales #face{
      background-position: -10px -10px;
    }
  
    #sociales #youtube{
      background-position: -60px -10px;
    }
  
    #sociales #whatsap{
      background-position: -110px -10px;
    }
  
    #sociales #twitter{
      background-position: -160px -10px;
    }
  
  
  #Videos{
    position: relative;
    padding-bottom: 56.25%; /* 16/9 ratio */
    padding-top: 30px; /* IE6 workaround*/
    height: 0;
    overflow: hidden;
  }
  
  #Videos iframe,
  #Videos object,
  #Videos embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  #lowhats{
    width: 25px;
    height: 25px;
    margin-top: .25rem;
  }
  
  #buscador{
    margin-top: 1em;
  }
  
  /* .articulosAside{
    background-color: #cdcdcd;
  }
  
  .articulosSection{
     
    background-color: #ff0000;
  } */
  
  .articulos{
    margin-top: 3em;
    /* border: 2px solid rgb(21, 231, 231); */
  }

    /* solo temporal */
    .articulo{ 
        background-color: rgb(255, 255, 255);
        padding: 2rem;
    }

      .articulo h2{
        padding: 0 px;
      }

      .articulo img{
        width: 50%;
        height: auto;
      }
  
  /*validacion de formulario*/
  
    /*input:valid,
    textarea:valid {
        background: green;
    }
  
    input:invalid,
    textarea:invalid {
        background: red;
    }*/

   